<aside>
    <h1>Administração</h1>
    <ul>
        <li>
            <a asp-area="Admin" asp-controller="Post" asp-action="Index">Posts</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Área Pública</a>
        </li>
    </ul>
</aside>