@using Caelum.Fn23.Blog.Extensions;
@{ 
    var usuario = Context.Session.Get<Usuario>("usuario");
}
<aside>
    <h1>Administração</h1>
    <p>Bem vindo, @usuario.Nome!</p>
    <ul>
        <li>
            <a asp-area="Admin" asp-controller="Post" asp-action="Index">Posts</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Área Pública</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Usuario" asp-action="Logout">Logout</a>
        </li>
    </ul>
</aside>