@model Caelum.Fn23.Blog.Models.Post

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Post</h1>
<form action="/Post/Altera" method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DataPublicacao" />
    <input type="hidden" asp-for="Publicado" />
    @Html.EditorForModel()
    <button class="btn btn-primary">Gravar</button>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>