@model Caelum.Fn23.Blog.Models.Post

@{
    ViewData["Title"] = "Novo";
}

<h1>Novo Post</h1>

<form action="/Post/Adiciona" method="POST">

    @Html.EditorForModel()

    <button class="btn btn-primary">Gravar</button>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script>
    $('input[name="Categoria"]').autocomplete({
        minLength: 3,
        // source: ['Bananas', 'Laranjas', 'Maçãs', 'Abacaxis', 'Abacates']
        source: (request, response) => {
            $.get(
                '/Post/CategoriaAutocomplete',
                { termoDigitado: request.term },
                response,
            )
        }
    });
</script>