@model IEnumerable<Post>

@if (Context.Request.Query.ContainsKey("termo"))
{
    <div>
        Você buscou pelo termo @Context.Request.Query.First(k => k.Key == "termo").Value.First()
    </div>
}


@foreach (var post in Model)
{
    <article>
        <h2>@post.Titulo</h2>
        <p>@post.Resumo</p>
        <p>Publicado em @post.DataPublicacao.Value.ToString("dd/MM/yyyy")</p>
    </article>
}