<aside>
    <div>
        <h3>Busca</h3>
        <form asp-action="Busca" asp-controller="Home" method="get">
            <input type="text" name="termo" class="form-control" placeholder="Buscar por..." autocomplete="off" />
            <button class="btn btn-primary mt-2">Ok</button>
        </form>
    </div>
</aside>